/* font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Sriracha', cursive; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
}

header {
  background-image: url(../img/fruits_divers.webp);
  padding: 28px;
  border-top: solid 8px #66CC66;
}

header article {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #66CC66;
  background-color: #ffffffdd;
  padding: 28px 56px;
}

.button-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  background-color: #66CC66;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 13px;
}

.button .light{

}