/* font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Sriracha', cursive; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
}

header {
  background-image: url(../img/fruits_divers.webp);
  padding: 28px;
  border-top: solid 8px #66CC66;
}

header article {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  color: #66CC66;
  background-color: #ffffffdd;
  padding: 5px 56px;
}

.button-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;
  align-items: center;
}

.button {
  background-color: #66CC66;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  border-radius: 14px;
  padding: 15px;
  margin-top: 25px;
  width: auto;
  text-decoration: none;
}

.light{
  color: #66CC66;
  background-color: white;
}

footer h1 {
  font-family: 'Maven Pro';
  font-weight: bold;
  color: #66CC66;
  text-align: center;
}

footer p {
  color: #66CC66;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  margin: 37px 0px;
}

.section-information {
  background-color: #66CC66;
  padding-bottom: 50px;
}
.presentation h1 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
}

.presentation {
  text-align: center;
  padding: 85px 50px;
  background-color: white;
}

.section-information h2 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
}

.section-information article {
  padding: 35px;
  margin: 27px;
  border-radius: 18px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgba(0, 0, 0, 0.411);
}

.section-information article h1 {
  font-family: 'Sriracha', cursive;
  color: black;
}

.section-information article a {
  color: black;
  font-weight: bold;
}

.fruit-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.fruit-element-img{
  width: 80px;
}

.fruit-element {
  padding-top: 68px;
}

.banana {
  background: #FFFFCC;
}

.kiwi {
  background: #CCFF99;
}

.espresso {
  background: #CCCC99;
}

.berries {
  background: #CC9999;
}

.nutrition-fact {
  background-color: #66CC66;
  padding-bottom: 50px;
}

.nutrition-fact article {
  padding: 35px;
  margin: 27px;
  border-radius: 18px;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
}